/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-variation-settings: "wght" var(--bold-font-weight);
  background-image: var(--pattern-color);
  background-attachment: fixed;
  display: grid;
  justify-items: center;
}

.header {
  display: grid;
  justify-items: center;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding: 135px 0 19px 0;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-top: 20px;
  padding-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: var(--small-font-size);
  margin-inline-start: 20px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  font-family: var(--accent-font);
  inset-inline-start: -17%;
  inset-block-start: -1%;
  opacity: 0.6;
  animation: play 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--themes-main-color);
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main {
  display: grid;
  justify-items: center
}

.section {
  border: 2px solid var(--themes-main-color);
  background: var(--themes-background);
  margin-block-end: 52px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.section__title {
  align-self: stretch;
  color: var(--themes-main-color);
  font-size: var(--medium-font-size);
  padding: 5px 25% 5px 10px;
}

.section__images {
  position: relative;
  outline: 2px solid var(--themes-main-color);
  overflow: hidden;
}

.images {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.images_filter_contrast {
  filter: contrast(100%)
}

.images_filter_invert {
  filter: invert(20%);
}

.images_filter_brightness {
  filter: brightness(100%);
}

.images_filter_grayscale {
  filter: grayscale(20%);
}

.images_filter_saturate {
  filter: saturate(3)
}

.images_filter_blur {
  filter: blur(4px);
}

.images_filter_multiple {
  filter: drop-shadow(50%) invert(20%) blur(1px);
}

.images_filter_sepia {
  filter: sepia(30%);
}

.section-logo {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 2;
  -webkit-text-stroke: 0.5px var(--color-text-stroke);
  text-shadow: 0 0 1px currentColor;
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--color-text-stroke)) or (text-stroke: 1px var(--color-text-stroke))) {
  .section-logo {
    text-shadow: none;
    text-stroke: 1px var(--color-text-stroke);
    -webkit-text-stroke: 1px var(--color-text-stroke);
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.text {
  font-size: var(--medium-font-size);
  font-variation-settings: "wght" var(--normal-font-weight);
  line-height: 21px;
}

.text:last-child {
  padding-top: 27px;
}

.card__controls {
  margin-block-end: 24px;
  margin-inline-end: 25px;
  display: flex;
  justify-content: right;
}

.card__icon-button {
  transition: border-color 0.3s ease;
  appearance: none;
  padding: 0;
  margin-inline-end: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--themes-main-color);
}

.button {
  appearance: none;
  border: 2px solid var(--themes-main-color);
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}

.card__like-button {
  min-height: 38px;
  inline-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--themes-main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
}

.card__save-button {
  padding-block-end: 100px;
}

.save-button {
  background: var(--themes-background);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button__text {
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-hover);
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  align-items: center;
  justify-content: center;
}

.save__floppy {
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-hover);
  block-size: 21px;
  inline-size: 21px;
}

.dialog__id {
  display: flex;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background);
  max-inline-size: 357px;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog__id:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__id::backdrop {
  background-color: rgba(0 0 0/0.75);
}

.dialog__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__form {
  inline-size: 100%;
}

.dialog__floppy {
  color: var(--themes-main-color);
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 150%;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
}

.dialog__button {
  inline-size: 100%;
  text-transform: uppercase;
  padding: 9px 17px 5px 17px;
  border: 2px solid var(--themes-main-color);
}

@media screen and (max-width: 375px) {
  .header {
    inline-size: 100%;
    padding-top: 120px;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .save-button {
    flex-direction: column
  }

  .dialog__id {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}